<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kureer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .center-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    </style>
</head>
<body style="background-image: url('img/background-5.png')">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="margin-left: 3px; color: seagreen">KUREER</a>
        </div>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li sec:authorize="hasAuthority('KURIR')"><a href="/kelola_pengguna" style="color: seagreen">Daftar Pengiriman</a></li>
            <li sec:authorize="hasAuthority('USER')"><a href="/order" style="color: seagreen">Order</a></li>
            <li><a href="/tracking" style="color: seagreen">Tracking</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: seagreen;margin-right: 20px">
                    <span th:text ="${user.lastName}"></span>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/">Home</a></li>
                    <li sec:authorize="hasAuthority('USER')"><a href="/order_history">Order History</a></li>
                    <li><a href="/logout" style="color: red;">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="text-center ">
    <div class="container">

        <div class="column">
            <div class="header-title">
                <h1 class="wv-heading--title">
                    Dashboard
                </h1>
            </div>
        </div>
    </div>
</div>
<br>
<div class="center-div">
    <div class="col-md-9" style="width: 40%;">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label for="nama_lengkap" class="col-4 col-form-label">Nama Lengkap</label>
                            <div class="col-8">
                                <label th:text="${user.firstName}+' '+${user.lastName}" id="nama_lengkap" style="font-weight: normal"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-4 col-form-label">Email</label>
                            <div class="col-8">
                                <label th:text="${user.email}" id="email" style="font-weight: normal"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="phone" class="col-4 col-form-label">No. Telephone</label>
                            <div class="col-8">
                                <label th:text="${user.phoneNumber}" id="phone" style="font-weight: normal"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="alamat" class="col-4 col-form-label">Alamat</label>
                            <div class="col-8">
                                <label th:text="${address != null} ? ${address.alamat}" id="alamat" style="font-weight: normal"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="provinsi" class="col-4 col-form-label">Provinsi</label>
                            <div class="col-8">
                                <label th:text="${address != null} ? ${address.provinsi}" id="provinsi" style="font-weight: normal"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kotaKabupaten" class="col-4 col-form-label">Kota/Kabupaten</label>
                            <div class="col-8">
                                <label th:text="${address != null} ? ${address.kotaKabupaten}" id="kotaKabupaten" style="font-weight: normal"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="Kecamatan" class="col-4 col-form-label">Kecamatan</label>
                            <div class="col-8">
                                <label th:text="${address != null} ? ${address.kecamatan}" id="Kecamatan" style="font-weight: normal"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="desaKelurahan" class="col-4 col-form-label">Desa/Kelurahan</label>
                            <div class="col-8">
                                <label th:text="${address != null} ? ${address.desaKelurahan}" id="desaKelurahan" style="font-weight: normal"></label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="kodePos" class="col-4 col-form-label">Kode Pos</label>
                            <div class="col-8">
                                <label th:text="${address != null} ? ${address.kodePos}" id="kodePos" style="font-weight: normal"></label>
                            </div>
                        </div>
                        <div sec:authorize="hasAuthority('USER')" class="form-group row">
                            <div class="offset-4 col-8">
                                <a th:href="@{/dashboard/update}" style="text-decoration: none">
                                    <button type="button" class="btn btn-primary"
                                            style="background-color: seagreen">Ubah Profile Saya</button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>