<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kureer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="margin-left: 3px; color: seagreen">KUREER</a>
        </div>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li sec:authorize="hasAuthority('KURIR')"><a href="/kelola_pengguna" style="color: seagreen">Daftar Pengiriman</a></li>
            <li><a href="/tracking" style="color: seagreen">Tracking</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: seagreen;margin-right: 20px">kurir
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li sec:authorize="hasAuthority('USER')"><a href="/order_history">Order History</a></li>
                    <li><a href="/logout" style="color: red;">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<body>

<form th:action="@{'/payment/'+${order.id}}" method="post" style="padding-left: 45px">
    <div class="form-group row">
        <label for="id" class="col-4 col-form-label">ID Order</label>
        <div class="col-8">
            <input style="width: 320px" type="text" class="form-control here" id="id" th:value="${order.id}" th:name="id" disabled>
        </div>
    </div>
    <div class="form-group row">
        <label for="tanggal" class="col-4 col-form-label">Tanggal</label>
        <div class="col-8">
            <p style="padding-left: 35px" id="tanggal" th:text ="${order.createDate}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label for="nama_lengkap" class="col-4 col-form-label">Nama Lengkap</label>
        <div class="col-8">
            <p style="padding-left: 35px" id="nama_lengkap" th:text ="${fullname}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label for="alamat" class="col-4 col-form-label">Alamat</label>
        <div class="col-8">
            <p style="padding-left: 35px" id="alamat">
                <span th:text="${order.senderAddress.alamat} + ','"></span>
                <span th:text="${order.senderAddress.desaKelurahan} + ','"></span>
                <span th:text="${order.senderAddress.kecamatan} + ','"></span>
                <span th:text="${order.senderAddress.kotaKabupaten} + ','"></span>
                <span th:text="${order.senderAddress.provinsi}"></span>
                <span th:text="${order.senderAddress.kodePos}"></span>
            </p>
        </div>
    </div>
    <div class="form-group row">
        <label for="phone_number" class="col-4 col-form-label">No. Telephone</label>
        <div class="col-8">
            <p style="padding-left: 35px" id="phone_number" th:text="${phoneNumber}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label for="status_resi" class="col-4 col-form-label">Status Resi</label>
        <div class="col-8">
            <p style="padding-left: 35px" id="status_resi">Status Resi</p>
        </div>
    </div>
    <div class="form-group row">
        <label for="status_pembayaran" class="col-4 col-form-label">Status Pembayaran</label>
        <div class="col-8">
            <p style="padding-left: 35px" id="status_pembayaran" th:text ="${order.payed}"></p>
        </div>
    </div>
    <div class="form-group row">
        <label for="biaya_pengiriman" class="col-4 col-form-label">Biaya Pengiriman</label>
        <div class="col-8">
            <p style="padding-left: 35px" id="biaya_pengiriman" th:text ="${order.cost}"></p>
        </div>
    </div>
    <div th:if="${!order.payed}">
        <div class="form-group row">
            <label for="tambahan_biaya" class="col-4 col-form-label">Tambahan Biaya</label>
            <div class="col-8">
                <input style="width: 320px" type="text" class="form-control here" id="tambahan_biaya"
                       placeholder="Biaya Tambahan Extra" th:name="extraCost" required>
                <br>
                <p>Pengirim akan mendapatkan biaya tambahan jika:</p>
                <p>- Penambahan bubble warp</p>
                <p>- Perlindungan barang pecah</p>
                <p>- dll</p>
            </div>
        </div>
        <div class="form-group row">
            <div class="col-8">
                <button type="submit" class="btn btn-primary mb-2" style="background-color: seagreen" id="konfirmasi_pembayaran">Konfirmasi Pembayaran</button>
            </div>
        </div>
    </div>
</form>

</body>
</html>