<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kureer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-image: url('img/background-4.png')">
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="margin-left: 3px; color: seagreen">KUREER</a>
        </div>

        <ul sec:authorize="!isAuthenticated()" class="nav navbar-nav navbar-right">
            <div class="d-flex justify-content-center">
                <a href="/registration" style="text-decoration: none">
                    <button type="button" class="btn btn-link text-decoration-none"
                            style="margin-top: 8px; color: seagreen">Register</button>
                </a>
                <a href="/login">
                    <button type="button" class="btn btn-outline-success"
                            style="background-color: seagreen; margin-top: 8px; margin-right: 20px; color: white">Log In</button>
                </a>
            </div>
        </ul>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li sec:authorize="hasAuthority('KURIR')"><a href="/kelola_pengguna" style="color: seagreen">Daftar Pengiriman</a></li>
            <li sec:authorize="hasAuthority('USER')"><a href="/order" style="color: seagreen">Order</a></li>
            <li><a href="/tracking" style="color: seagreen">Tracking</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: seagreen;margin-right: 20px">
                    <span th:text ="${#authentication.getPrincipal().getLastName()}"></span>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li sec:authorize="hasAuthority('USER')"><a href="/order_history">Order History</a></li>
                    <li><a href="/logout" style="color: red;">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>


<div>
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel" style="margin-top: 20px;">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner">

                <div class="item active">
                    <img src="img/carousel-1.png" alt="Los Angeles" style="width:100%">
                    <div class="carousel-caption">
                        <h3>Los Angeles</h3>
                        <p>LA is always so much fun!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="img/carousel-2.png" alt="Chicago" style="width:100%">
                    <div class="carousel-caption">
                        <h3>Chicago</h3>
                        <p>Thank you, Chicago!</p>
                    </div>
                </div>

                <div class="item">
                    <img src="img/carousel-3.png" alt="New York" style="width:100%">
                    <div class="carousel-caption">
                        <h3>New York</h3>
                        <p>We love the Big Apple!</p>
                    </div>
                </div>

            </div>

            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <br>
    <h2 class="text-center">Cek Resi</h2>
    <div class="text-center">
        <form class="form-inline" th:action="@{/}" method="post">
            <div class="form-group mx-sm-3 mb-2">
                <label for="resi" class="sr-only">Nomor Resi</label>
                <input type="text" pattern="[0-9]*" class="form-control" th:value="${resiId != null} ? ${resiId} : ''"
                       id="resi" th:name="resi" placeholder="Nomor Resi">
            </div>
            <button type="submit" class="btn btn-primary mb-2" style="background-color: seagreen">Cek</button>
            <br><br>
            <div th:if="${resiId != null}">
                <div th:if="${resiObject != null}">
                    <div th:if="${!isSubscribe}">
                        <h5>Orderan dengan resi <span th:text="${resiId}"></span> berada di
                            <span th:text="${resiObject.currentAddress?.alamat}"></span>,
                            <span th:text="${resiObject.currentAddress?.desaKelurahan}"></span>,
                            <span th:text="${resiObject.currentAddress?.kecamatan}"></span>,
                            <span th:text="${resiObject.currentAddress?.kotaKabupaten}"></span>,
                            <span th:text="${resiObject.currentAddress?.provinsi}"></span>
                            <span th:text="${resiObject.currentAddress?.kodePos}"></span>.
                        </h5>
                        <h5>Status resi <span th:text="${resiId}"></span>:
                            <span th:text="${resiObject.status}"></span>.
                            <span>
                                <a sec:authorize="isAuthenticated()" style="color: seagreen; font-weight: bold"
                                   th:href="@{'/tracking/subscribe/'+${resiId}}">SUBSCRIBE</a>
                            </span>
                        </h5>
                    </div>
                    <div th:if="${isSubscribe}">
                        <h5>Orderan dengan resi <span th:text="${resiId}"></span> berada di
                            <span th:text="${resiObject.currentAddress?.alamat}"></span>,
                            <span th:text="${resiObject.currentAddress?.desaKelurahan}"></span>,
                            <span th:text="${resiObject.currentAddress?.kecamatan}"></span>,
                            <span th:text="${resiObject.currentAddress?.kotaKabupaten}"></span>,
                            <span th:text="${resiObject.currentAddress?.provinsi}"></span>
                            <span th:text="${resiObject.currentAddress?.kodePos}"></span>.
                        </h5>
                        <h5>Status resi <span th:text="${resiId}"></span>:
                            <span th:text="${resiObject.status}"></span>.
                            <span>
                            <a sec:authorize="isAuthenticated()" style="color: seagreen; font-weight: bold"
                               th:href="@{'/tracking/unsubscribe/'+${resiId}}">UNSUBSCRIBE</a>
                        </span>
                        </h5>
                    </div>
                </div>
                <div th:if="${resiObject == null}">
                    <h5>Mohon maaf, resi <span th:text="${resiId}"></span> tidak ditemukan.</h5>
                </div>
            </div>
        </form>
        <br>
    </div>
    <br><br>
</div>
</body>
</html>