<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kureer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<style>
    .center-div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }
</style>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="margin-left: 3px; color: seagreen">KUREER</a>
        </div>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li sec:authorize="hasAuthority('USER')"><a href="/order" style="color: seagreen">Order</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: seagreen;margin-right: 20px">
                    <span th:text ="${user.lastName}"></span>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li sec:authorize="hasAuthority('USER')"><a href="/order_history">Order History</a></li>
                    <li><a href="/logout" style="color: red;">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
<body>
<Body background="Background%203.png">
<div class="text-center ">
    <div class="container">

        <div class="column">
            <div class="header-title">
                <h1 class="wv-heading--title">
                    History Pengiriman Barang
                </h1>
            </div>
        </div>
    </div>
</div>
<br>

<div class="center-div">
    <table class="table table-bordered" style="width: 55%;">
        <thead>
        <tr>
            <th scope="col" class="text-center">Tanggal</th>
            <th scope="col" class="text-center">Nama Barang</th>
            <th scope="col" class="text-center">Nama Penerima</th>
            <th scope="col" class="text-center">Alamat Penerima</th>
            <th scope="col" class="text-center">Harga</th>
            <th scope="col" class="text-center">Status Pembayaran</th>
            <th scope="col" class="text-center">Status Pengiriman</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="order:${orderList}">
            <td th:text="${order.createDate}"></td>
            <td th:text="${order.type}"></td>
            <td th:text="${order.receiverName}"></td>
            <td>
                <span th:text="${order.receiverAddress.alamat} + ','"></span>
                <span th:text="${order.receiverAddress.desaKelurahan} + ','"></span>
                <span th:text="${order.receiverAddress.kecamatan} + ','"></span>
                <span th:text="${order.receiverAddress.kotaKabupaten} + ','"></span>
                <span th:text="${order.receiverAddress.provinsi}"></span>
                <span th:text="${order.receiverAddress.kodePos}"></span>
            </td>
            <td th:text="${order.cost}"></td>
            <td>
                <span th:if="${order.payed == True}" style="font-weight: bold; color: green">Paid</span>
                <span th:unless="${order.payed == True}" style="font-weight: bold; color: red">Unpaid</span>
            </td>
            <td style="font-weight: bold; color: yellowgreen">To Be Delivered</td>
        </tr>
        </tbody>

    </table>
</div>
</body>
</body>
</html>