<!DOCTYPE html>
<html lang="en">
<head>
    <title>Kureer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .center-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="margin-left: 3px; color: seagreen">KUREER</a>
        </div>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li sec:authorize="hasAuthority('USER')"><a href="/order" style="color: seagreen">Order</a></li>
            <li><a href="/tracking" style="color: seagreen">Tracking</a></li><li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: seagreen;margin-right: 20px">
                    <span th:text ="${user.lastName}"></span>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li sec:authorize="hasAuthority('USER')"><a href="/order_history">Order History</a></li>
                    <li><a href="/logout" style="color: red;">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="text-center">
    <div class="container">
        <div class="column">
            <div class="header-title">
                <h1 class="wv-heading--title">
                    Formulir Order
                </h1>
            </div>
        </div>
    </div>
</div>
<br>
<div class="center-div">
    <div class="col-md-9" style="width: 40%;">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12">
                        <form th:action="@{/order}" method="post">
                            <div class="text-center">
                                <h3>Alamat Pengirim</h3>
                            </div>
                            <div class="form-group row">
                                <label for="namaLengkapUser" class="col-4 col-form-label">Nama Lengkap</label>
                                <div class="col-8">
                                    <input input type="text" class="form-control here" id="namaLengkapUser" th:value="${user.firstName}+' '+${user.lastName}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="phoneNumberUser" class="col-4 col-form-label">No. Telephone</label>
                                <div class="col-8">
                                    <input input type="tel" pattern="[0-9]*" class="form-control here" id="phoneNumberUser" th:value="${user.phoneNumber}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="alamatUser" class="col-4 col-form-label">Alamat Lengkap</label>
                                <div class="col-8">
                                    <input input type="text" class="form-control here" id="alamatUser" th:value="${address != null} ? ${address.alamat}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="provinsiUser" class="col-4 col-form-label">Provinsi</label>
                                <div class="col-8">
                                    <input input type="text" class="form-control here" id="provinsiUser" th:value="${address != null} ? ${address.provinsi}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="kotaKabupatenUser" class="col-4 col-form-label">Kota/Kabupaten</label>
                                <div class="col-8">
                                    <input input type="text" class="form-control here" id="kotaKabupatenUser" th:value="${address != null} ? ${address.kotaKabupaten}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="kecamatanUser" class="col-4 col-form-label">Kecamatan</label>
                                <div class="col-8">
                                    <input input type="text" class="form-control here" id="kecamatanUser" th:value="${address != null} ? ${address.kecamatan}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="desaKelurahanUser" class="col-4 col-form-label">Desa/Kelurahan</label>
                                <div class="col-8">
                                    <input input type="text" class="form-control here" id="desaKelurahanUser" th:value="${address != null} ? ${address.desaKelurahan}" disabled>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="kodePosUser" class="col-4 col-form-label">Kode Pos</label>
                                <div class="col-8">
                                    <input input type="text" class="form-control here" id="kodePosUser" th:value="${address != null} ? ${address.kodePos}" disabled>
                                </div>
                            </div>
                            <br>
                            <div class="text-center">
                                <h3>Alamat Penerima</h3>
                            </div>
                            <div class="form-group row">
                                <label for="receiverName" class="col-4 col-form-label">Nama Lengkap</label>
                                <div class="col-8">
                                    <input type="text" class="form-control here" id="receiverName" th:name="receiverName" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="receiverPhoneNumber" class="col-4 col-form-label">No. Telephone</label>
                                <div class="col-8">
                                    <input type="tel" pattern="08[0-9]{8,10}" class="form-control here" id="receiverPhoneNumber" th:name="receiverPhoneNumber" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="alamat" class="col-4 col-form-label">Alamat Lengkap</label>
                                <div class="col-8">
                                    <input type="text" class="form-control here" id="alamat" th:name="receiverAlamat" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="provinsi" class="col-4 col-form-label">Provinsi</label>
                                <div class="col-8">
                                    <select class="select2-data-array form-control here" type="text" id="provinsi" th:name="receiverProvinsi" required></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="kotaKabupaten" class="col-4 col-form-label">Kota/Kabupaten</label>
                                <div class="col-8">
                                    <select class="select2-data-array form-control here" type="text" id="kotaKabupaten" th:name="receiverKotaKabupaten" required></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="kecamatan" class="col-4 col-form-label">Kecamatan</label>
                                <div class="col-8">
                                    <select class="select2-data-array form-control here" type="text" id="kecamatan" th:name="receiverKecamatan" required></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="desaKelurahan" class="col-4 col-form-label">Desa/Kelurahan</label>
                                <div class="col-8">
                                    <select class="select2-data-array form-control here" type="text" id="desaKelurahan" th:name="receiverDesaKelurahan" required></select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="kodePos" class="col-4 col-form-label">Kode Pos</label>
                                <div class="col-8">
                                    <input type="text" pattern="[0-9]{5}" class="form-control here" id="kodePos" th:name="receiverKodePos" required>
                                </div>
                            </div>
                            <br>
                            <div class="text-center">
                                <h3>Detail Barang</h3>
                            </div>
                            <div class="form-group row">
                                <label for="type" class="col-4 col-form-label">Jenis barang</label>
                                <div class="col-8">
                                    <input type="text" class="form-control here" id="type" th:name="type" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="weight" class="col-4 col-form-label">Berat barang (gram)</label>
                                <div class="col-8">
                                    <input type="text" pattern="[0-9]*" class="form-control here" id="weight" th:name="weight" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="length" class="col-4 col-form-label">Panjang barang (cm)</label>
                                <div class="col-8">
                                    <input type="text" pattern="[0-9]*" class="form-control here" id="length" th:name="length" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="width" class="col-4 col-form-label">Lebar barang (cm)</label>
                                <div class="col-8">
                                    <input type="text" pattern="[0-9]*" class="form-control here" id="width" th:name="width" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="height" class="col-4 col-form-label">Tinggi barang (cm)</label>
                                <div class="col-8">
                                    <input type="text" pattern="[0-9]*" class="form-control here" id="height" th:name="height" required>
                                </div>
                            </div>
                            <div class="form-group row text-center">
                                <div class="offset-4 col-8">
                                    <button type="submit" class="btn btn-primary" style="background-color: seagreen">Order Sekarang</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
    var urlProvinsi = "https://ibnux.github.io/data-indonesia/provinsi.json";
    var urlKabupaten = "https://ibnux.github.io/data-indonesia/kabupaten/";
    var urlKecamatan = "https://ibnux.github.io/data-indonesia/kecamatan/";
    var urlKelurahan = "https://ibnux.github.io/data-indonesia/kelurahan/";

    $("#provinsi").select2({ dropdownAutoWidth: true, width: '100%' });

    $("#kotaKabupaten").select2({ dropdownAutoWidth: true, width: '100%' });

    $("#kecamatan").select2({ dropdownAutoWidth: true, width: '100%' });

    $("#desaKelurahan").select2({ dropdownAutoWidth: true, width: '100%' });


    function clearOptions(id) {
        $('#' + id).empty().trigger('change');
    }

    $.getJSON(urlProvinsi, function (res) {

        res = $.map(res, function (obj) {
            obj.text = obj.nama
            return obj;
        });

        data = [{
            id: "",
            nama: "- Pilih Provinsi -",
            text: "- Pilih Provinsi -"
        }].concat(res);

        $("#provinsi").select2({ data: data });
    });

    var selectProv = $('#provinsi');
    $(selectProv).change(function () {
        var value = $(selectProv).val();
        clearOptions('kotaKabupaten');

        if (value) {

            var text = $('#provinsi :selected').text();
            $('#provinsi :selected').val(text);

            $.getJSON(urlKabupaten + value + ".json", function(res) {

                res = $.map(res, function (obj) {
                    obj.text = obj.nama
                    return obj;
                });

                data = [{
                    id: "",
                    nama: "- Pilih Kabupaten -",
                    text: "- Pilih Kabupaten -"
                }].concat(res);

                $("#kotaKabupaten").select2({ data: data })
            })
        }
    });

    var selectKab = $('#kotaKabupaten');
    $(selectKab).change(function () {
        var value = $(selectKab).val();
        clearOptions('kecamatan');

        if (value) {
            var text = $('#kotaKabupaten :selected').text();
            $('#kotaKabupaten :selected').val(text);

            $.getJSON(urlKecamatan + value + ".json", function(res) {

                res = $.map(res, function (obj) {
                    obj.text = obj.nama
                    return obj;
                });

                data = [{
                    id: "",
                    nama: "- Pilih Kecamatan -",
                    text: "- Pilih Kecamatan -"
                }].concat(res);

                $("#kecamatan").select2({ data: data })
            })
        }
    });

    var selectKec = $('#kecamatan');
    $(selectKec).change(function () {
        var value = $(selectKec).val();
        clearOptions('desaKelurahan');

        if (value) {
            var text = $('#kecamatan :selected').text();
            $('#kecamatan :selected').val(text);

            $.getJSON(urlKelurahan + value + ".json", function(res) {

                res = $.map(res, function (obj) {
                    obj.text = obj.nama
                    return obj;
                });

                data = [{
                    id: "",
                    nama: "- Pilih Kelurahan -",
                    text: "- Pilih Kelurahan -"
                }].concat(res);

                $("#desaKelurahan").select2({ data: data })
            })
        }
    });

    var selectKel = $('#desaKelurahan');
    $(selectKel).change(function () {
        var value = $(selectKel).val();

        if (value) {
            var text = $('#desaKelurahan :selected').text();
            $('#desaKelurahan :selected').val(text);
        }
    });
</script>
</html>