<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kureer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .send-button{
            background: seagreen;
            width:100%;
            font-weight: 600;
            color:#fff;
            padding: 8px 25px;
        }
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }

        .my-input{
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            cursor: text;
            padding: 8px 10px;
            transition: border .1s linear;
        }
        .header-title{
            margin: 5rem 0;
        }
        h1{
            font-size: 31px;
            line-height: 40px;
            font-weight: 600;
            color:#4c5357;
        }
        h2{
            color: #5e8396;
            font-size: 21px;
            line-height: 32px;
            font-weight: 400;
        }

        .center-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        @media screen and (max-width:480px){
            h1{
                font-size: 26px;
            }
            h2{
                font-size: 20px;
            }
        }

    </style>
</head>

<body style="background-image: url('img/background-1.png')">
<div>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="." style="color: seagreen; margin-left: 3px">KUREER</a>
            </div>
        </div>
    </nav>

    <div class="text-center">
        <div class="container">

            <div class="column">
                <div class="header-title">
                    <h1 class="wv-heading--title">Register</h1>
                </div>
            </div>

            <div class="center-div">
                <div class="form" style="width: max-content">
                    <div class="form">
                        <form th:action="@{/registration}" method="post" th:object="${user}">

                            <!-- Success message -->
                            <div th:if="${param.success}">
                                <div class="alert alert-info">You've successfully registered</div>
                            </div>

                            <div class="form-group">
                                <input type="text" class="form-control my-input" id="firstName" placeholder="First Name" th:field="*{firstName}" required>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control my-input" id="lasttName" placeholder="Last Name" th:field="*{lastName}" required>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control my-input" id="email" placeholder="Email" th:field="*{email}" required>
                            </div>
                            <div class="form-group">
                                <input type="tel" pattern="08[0-9]{8,10}" class="form-control my-input" id="phoneNumber" placeholder="Phone Number" th:field="*{phoneNumber}" required>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control my-input" id="password" placeholder="Password" th:field="*{password}" required>
                            </div>
                            <div class="text-center ">
                                <button type="submit" class="btn btn-block send-button tx-tfm">Register</button>
                                <br>
                                <p class="small mt-3">Apakah Anda sudah mempunyai akun? <a href="/" th:href="@{/login}" class="ps-hero__content__link" style="color: seagreen">Login</a></p>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>