<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kureer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .center-div {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/" style="margin-left: 3px; color: seagreen">KUREER</a>
        </div>

        <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
            <li sec:authorize="hasAuthority('USER')"><a href="/order" style="color: seagreen">Order</a></li>
            <li sec:authorize="hasAuthority('KURIR')"><a href="/kelola_pengguna" style="color: seagreen">Daftar Pengiriman</a></li>
            <li><a href="/tracking" style="color: seagreen">Tracking</a></li><li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: seagreen;margin-right: 20px">
                    <span th:text ="${user.lastName}"></span>
                    <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li sec:authorize="hasAuthority('USER')"><a href="/order_history">Order History</a></li>
                    <li><a href="/logout" style="color: red;">Logout</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>

<div class="text-center">
    <div class="container">
        <div class="column">
            <div class="header-title">
                <h1 class="wv-heading--title">
                    Tracking
                </h1>
            </div>
        </div>
    </div>
</div>
<br>
<div class="center-div">
    <table class="table table-bordered" style="width: 55%;">
        <thead>
        <tr>
            <th scope="col" class="text-center">Tanggal</th>
            <th scope="col" class="text-center">Detail</th>
        </tr>
        </thead>

        <tbody>
        <tr class="text-center" th:each="tracking: ${trackingList}">
            <th:block>
                <td th:text="${tracking.date}"></td>
                <td th:text="${tracking.detail}"></td>
            </th:block>
        </tr>

        </tbody>
    </table>
</div>
</body>
</html>