<!DOCTYPE html>
<html lang="en">
<head>
  <title>Kureer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    .center-div {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
    }
  </style>
</head>
<body style="background-image: url('img/background-5.png')">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/" style="margin-left: 3px; color: seagreen">KUREER</a>
    </div>

    <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
      <li sec:authorize="hasAuthority('KURIR')"><a href="/kelola_pengguna" style="color: seagreen">Daftar Pengiriman</a></li>
      <li><a href="/tracking" style="color: seagreen">Tracking</a></li><li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#" style="color: seagreen;margin-right: 20px">
          <span th:text ="${user.lastName}"></span>
          <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="/">Home</a></li>
          <li><a href="/logout" style="color: red;">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav>

<div class="text-center ">
  <div class="container">

    <div class="column">
      <div class="header-title">
        <h1 class="wv-heading--title">
          Update Resi
        </h1>
      </div>
    </div>
  </div>
</div>
<br>
<div class="center-div">
  <div class="col-md-9" style="width: 40%;">
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <form th:action="@{'/resi/' + ${id}}" method="post">
              <div class="form-group row">
                <label for="status" class="col-4 col-form-label">Status</label>
                <div class="col-8">
                  <select th:name="status" id="status" class="form-control here" required>
                    <option value="to_be_delivered">To Be Delivered</option>
                    <option value="on_delivery">On Delivery</option>
                    <option value="delivered">Delivered</option>
                  </select>
                </div>
              </div>
              <div class="form-group row">
                <label for="alamat" class="col-4 col-form-label">Alamat</label>
                <div class="col-8">
                  <input input type="text" class="form-control here" id="alamat" th:value="${address != null} ? ${address.alamat}"
                         placeholder="Contoh: Jl. [...], RT [..] RW [..]" th:name="alamat" required>
                </div>
              </div>
              <div class="form-group row">
                <label for="provinsi" class="col-4 col-form-label">Provinsi</label>
                <div class="col-8">
                  <select class="select2-data-array form-control here" type="text" id="provinsi" th:name="provinsi" required></select>
                </div>
              </div>
              <div class="form-group row">
                <label for="kotaKabupaten" class="col-4 col-form-label">Kota/Kabupaten</label>
                <div class="col-8">
                  <select class="select2-data-array form-control here" type="text" id="kotaKabupaten" th:name="kotaKabupaten" required></select>
                </div>
              </div>
              <div class="form-group row">
                <label for="kecamatan" class="col-4 col-form-label">Kecamatan</label>
                <div class="col-8">
                  <select class="select2-data-array form-control here" type="text" id="kecamatan" th:name="kecamatan" required></select>
                </div>
              </div>
              <div class="form-group row">
                <label for="desaKelurahan" class="col-4 col-form-label">Desa/Kelurahan</label>
                <div class="col-8">
                  <select class="select2-data-array form-control here" type="text" id="desaKelurahan" th:name="desaKelurahan" required></select>
                </div>
              </div>
              <div class="form-group row">
                <label for="kodePos" class="col-4 col-form-label">Kode Pos</label>
                <div class="col-8">
                  <input input type="text" pattern="[0-9]{5}" class="form-control here" id="kodePos" th:value="${address != null} ? ${address.kodePos}"
                         placeholder="Contoh: 18620" th:name="kodePos" required>
                </div>
              </div>
              <div class="form-group row">
                <div class="offset-4 col-8">
                  <button type="submit" class="btn btn-primary" style="background-color: seagreen">Simpan</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script>
  var urlProvinsi = "https://ibnux.github.io/data-indonesia/provinsi.json";
  var urlKabupaten = "https://ibnux.github.io/data-indonesia/kabupaten/";
  var urlKecamatan = "https://ibnux.github.io/data-indonesia/kecamatan/";
  var urlKelurahan = "https://ibnux.github.io/data-indonesia/kelurahan/";

  $("#provinsi").select2({ dropdownAutoWidth: true, width: '100%' });

  $("#kotaKabupaten").select2({ dropdownAutoWidth: true, width: '100%' });

  $("#kecamatan").select2({ dropdownAutoWidth: true, width: '100%' });

  $("#desaKelurahan").select2({ dropdownAutoWidth: true, width: '100%' });


  function clearOptions(id) {
    $('#' + id).empty().trigger('change');
  }

  $.getJSON(urlProvinsi, function (res) {

    res = $.map(res, function (obj) {
      obj.text = obj.nama
      return obj;
    });

    data = [{
      id: "",
      nama: "- Pilih Provinsi -",
      text: "- Pilih Provinsi -"
    }].concat(res);

    $("#provinsi").select2({ data: data });
  });

  var selectProv = $('#provinsi');
  $(selectProv).change(function () {
    var value = $(selectProv).val();
    clearOptions('kotaKabupaten');

    if (value) {

      var text = $('#provinsi :selected').text();
      $('#provinsi :selected').val(text);

      $.getJSON(urlKabupaten + value + ".json", function(res) {

        res = $.map(res, function (obj) {
          obj.text = obj.nama
          return obj;
        });

        data = [{
          id: "",
          nama: "- Pilih Kabupaten -",
          text: "- Pilih Kabupaten -"
        }].concat(res);

        $("#kotaKabupaten").select2({ data: data })
      })
    }
  });

  var selectKab = $('#kotaKabupaten');
  $(selectKab).change(function () {
    var value = $(selectKab).val();
    clearOptions('kecamatan');

    if (value) {
      var text = $('#kotaKabupaten :selected').text();
      $('#kotaKabupaten :selected').val(text);

      $.getJSON(urlKecamatan + value + ".json", function(res) {

        res = $.map(res, function (obj) {
          obj.text = obj.nama
          return obj;
        });

        data = [{
          id: "",
          nama: "- Pilih Kecamatan -",
          text: "- Pilih Kecamatan -"
        }].concat(res);

        $("#kecamatan").select2({ data: data })
      })
    }
  });

  var selectKec = $('#kecamatan');
  $(selectKec).change(function () {
    var value = $(selectKec).val();
    clearOptions('desaKelurahan');

    if (value) {
      var text = $('#kecamatan :selected').text();
      $('#kecamatan :selected').val(text);

      $.getJSON(urlKelurahan + value + ".json", function(res) {

        res = $.map(res, function (obj) {
          obj.text = obj.nama
          return obj;
        });

        data = [{
          id: "",
          nama: "- Pilih Kelurahan -",
          text: "- Pilih Kelurahan -"
        }].concat(res);

        $("#desaKelurahan").select2({ data: data })
      })
    }
  });

  var selectKel = $('#desaKelurahan');
  $(selectKel).change(function () {
    var value = $(selectKel).val();

    if (value) {
      var text = $('#desaKelurahan :selected').text();
      $('#desaKelurahan :selected').val(text);
    }
  });
</script>
</html>